name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build + Test + Coverage
        run: mvn -B clean verify -Ddependency-check.skip=true

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: target/site/jacoco/jacoco.xml
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

#      - name: Set and Export Custom Version
#        id: set_version
#        run: |
#          VERSION="$(date +'%Y%m%d')-$(git rev-parse --short HEAD)"
#          echo "CUSTOM_VERSION=$VERSION" >> $GITHUB_ENV
#
#      - name: Build with Maven
#        run: mvn package

#      - name: Log in to Docker Hub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ secrets.DOCKER_HUB_USERNAME }}
#          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
#
#      - name: Build Docker Image
#        run: |
#          IMAGE_ID=docker.io/${{ secrets.DOCKER_HUB_USERNAME }}/binance-telegram-bot
#          echo "IMAGE_ID=$IMAGE_ID" >> $GITHUB_ENV
#          docker build -t $IMAGE_ID:${{ env.CUSTOM_VERSION }} .
#
#      - name: Push Docker Image
#        run: |
#          docker push ${{ env.IMAGE_ID }}:${{ env.CUSTOM_VERSION }}
